Author: twodayslate <zac+listlauncher6@gorak.us>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: ListLauncher6
Package: com.twodayslate.listlauncher6
Section: Tweaks
Pre-Depends: firmware (>= 4.0)
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Scrolling list of all your apps for quick access!
Depiction: http://chpwn.com/cydia/listlauncher.html
Homepage: http://chpwn.com/cydia/listlauncher.html
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: cydia::free, purpose::extension
dev: twodayslate, chpwn
Version: 6.0-15
Installed-Size: 0
